.flowerWidth{
    width: 5% !important;
    /* border-radius: 50px !important; */
    height: 7% !important;
}

.bgset{
    background-color: #ccc;
}

.para-txt{
    font-size: x-large;
}

.img-hit{
    height: 100% !important;
    /* border: 2px solid red !important; */
    /* background-size: cover; */
}

@media (max-width: 425px) {
    .full-height {
        height: 100%;
    }
}